// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

* + table {
  border-style:solid;
  border-width:1px;
  border-color: darken(#e7e3e7,10%);
  margin: 20px auto 20px auto;
}

* + table th, * + table td {
  border-style:dashed;
  border-width:1px;
  border-color:darken(#e7e3e7,10%);
  padding-left: 3px;
  padding-right: 3px;
  padding:10px 20px;
}

* + table th {
  border-style:solid;
  font-weight:bold;
  background: url("/images/noise.png?1330434582") repeat scroll left top #ABB9CF;
}

* + table th[align="left"], * + table td[align="left"] {
  text-align:left;
}

* + table th[align="right"], * + table td[align="right"] {
  text-align:right;
}

* + table th[align="center"], * + table td[align="center"] {
  text-align:center;
}

* + table caption{
  font-weight:bold;
  text-align:center;
}

tr:hover{
    background-color:lighten(#ABB9CF ,20%);
}

/* -----表格样式----- */

.datalist{
    border:1px solid #007eff;
    border-collapse:collapse;
    margin: 20px auto 20px auto;

}

.datalist caption{
  font-weight:bold;
  text-align:center;
}

.datalist th{
    border:1px solid #429fff;
    background-color:#d2e8ff;
    font-weight:bold;
    padding-top:4px;
    padding-bottom:4px;
    padding-left:10px;
    padding-right:10px;
    text-align:center;
}

.datalist td{
      border:1px solid #429fff;
      text-align:left;
      padding:4px;
}

.datalist tr:hover{
    background-color:#c4e4fe;
}

/* -------------- */